* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 24px;
}

li > div {
    display: flex;
    align-items: center;
}

ul {
    margin: 1rem;
    margin-left: 2rem;
    display: block;
}

label {
    display: inline-block;
    margin-left: 0.25rem;
    user-select: none;
}